---
layout: default
title: roderick.dk
site_section: blog
---

{% for post in site.posts limit:1 %}
<div class="post">
	<h1><a href="{{ post.url }}" title="Permalink for this post">{{ post.title }}</a></h1>
	<p class="post-date">Posted on {{ post.date | date: "%Y-%m-%d" }}</a></p>
	
	<div class="post_content">
	  {{ post.content }}
	</div>
	
	{% unless post.disable_comments %}
		<script>
		var idcomments_post_id,
			idcomments_post_url,
			idcomments_acct = '4f0e1cb7e445080ae75ccf48cdd0252d';
		{% if post.idcomments_post_id %}
			// this IS needed for links, Intense Debate documentation is incorrect
			idcomments_post_url = "{{post.idcomments_post_id}}";
			idcomments_post_id = "{{post.idcomments_post_id}}";
		{% endif %}			
		</script>
		<script type="text/javascript" src="http://www.intensedebate.com/js/genericLinkWrapperV2.js"></script>
	{% endunless %}	
</div>
{% endfor %}

<hr />
<p>
	<a class="archives" href="/archives/">Blog archive</a>
</p>