

/**
 * Overall framing and layout 
 */

html{
	background-color:#f4f4f4;
}

/* HR */
/* The sprite graphics contains a special width hr used in /local/15images.css*/
div.g_hr,div.g_hr_down,
.g_hr_c2,
.g_hr_c3,
.g_hr_c4,
.g_hr_c5,
.g_hr_c6,
.g_hr_c7,
.g_hr_c8,
.g_hr_c9,
.g_hr_c12,
.g_hr_down_c2,
.g_hr_down_c3,
.g_hr_down_c4,
.g_hr_down_c5,
.g_hr_down_c6,
.g_hr_down_c7,
.g_hr_down_c8,
.g_hr_down_c9,
.g_hr_down_c12{
	background:url("/gfx/grd/common/sprite_hr.png") no-repeat scroll -17px -40px transparent;
	margin-left:-5px;
	margin-right:-5px;
	height:15px;
}

div.g_hr hr,div.g_hr_down hr,
.g_hr_c2 hr,
.g_hr_c3 hr,
.g_hr_c4 hr,
.g_hr_c5 hr,
.g_hr_c6 hr,
.g_hr_c7 hr,
.g_hr_c8 hr,
.g_hr_c9 hr,
.g_hr_c12 hr,
.g_hr_down_c2 hr,
.g_hr_down_c3 hr,
.g_hr_down_c4 hr,
.g_hr_down_c5 hr,
.g_hr_down_c6 hr,
.g_hr_down_c7 hr,
.g_hr_down_c8 hr,
.g_hr_down_c9 hr,
.g_hr_down_c12 hr{
	display:none;
}

/* Default HR */
div.g_block_c2 .g_hr, .g_hr_c2{		background-position: -20px -10px;}
div.g_block_c3 .g_hr, .g_hr_c3{		background-position: -20px -40px;}
div.g_block_c4 .g_hr, .g_hr_c4{		background-position: -20px -70px;}
div.g_block_c5 .g_hr, .g_hr_c5{		background-position: -20px -100px;}
div.g_block_c6 .g_hr, .g_hr_c6{		background-position: -20px -130px;}
div.g_block_c7 .g_hr, .g_hr_c7{		background-position: -20px -160px;}
div.g_block_c8 .g_hr, .g_hr_c8{		background-position: -20px -190px;}
div.g_block_c9 .g_hr, .g_hr_c9{		background-position: -20px -220px;}
div.g_block_c12 .g_hr, .g_hr_c12{	background-position: -20px -310px;}

/* Downwards facing HR */
div.g_block_c2 .g_hr_down,.g_hr_down_c2{	background-position: -995px -20px;}
div.g_block_c3 .g_hr_down,.g_hr_down_c3{	background-position: -995px -50px;}
div.g_block_c4 .g_hr_down,.g_hr_down_c4{	background-position: -995px -80px;}
div.g_block_c5 .g_hr_down,.g_hr_down_c5{	background-position: -995px -110px;}
div.g_block_c6 .g_hr_down,.g_hr_down_c6{	background-position: -995px -140px;}
div.g_block_c7 .g_hr_down,.g_hr_down_c7{	background-position: -995px -170px;}
div.g_block_c8 .g_hr_down,.g_hr_down_c8{	background-position: -995px -200px;}
div.g_block_c9 .g_hr_down,.g_hr_down_c9{	background-position: -995px -230px;}
div.g_block_c12 .g_hr_down,.g_hr_down_c12{	background-position: -995px -320px;}
/*END HR*/

.g_accessibility{display:none;}

.g_left{float:left;}
.g_right{float:right;}

.g_clear{clear:both;}
.g_clear_left{clear:left;}
.g_clear_right{clear:right;}

/* g_head needs to have pos rel and z of 20 to prevent the collapsed menus from appearing BELOW pagecontent in ie7 */
/* no harm in it for other browsers so it is added here instead of ie7.css */

#g_head{
	margin-bottom:2px;
	position:relative;
	z-index:20;
}

#g_head .g_block{
	float:none;
}

/* privat, soho, store, omtdc */
#g_site_select_container{
	position:absolute;
	right:0;
	top:-23px;
	width:100%;
	height:23px;
	padding-right:7px;
}

#g_site_select{
	background:#f4f4f4 url("/gfx/grd/common/navigation/sprite_siteselect.png") no-repeat scroll 100% -62px;
	height:23px;
	position:relative;
	right:59px;
}

#g_site_select ul{
	background:#f4f4f4 url("/gfx/grd/common/navigation/sprite_siteselect.png") no-repeat scroll -5px -5px;
	height:18px;
	margin:0 15px;
	padding:4px 0 0 10px;
	position:absolute;
	right:0;
	top:1px;
}

#g_site_select li{
	float:left;
	margin:0 0 0 15px;
}

#g_site_select a{
	color:#818181;
	text-decoration:none;
	font-size:13px;
}

#g_site_login,
#g_site_logout{
	background:url("/gfx/grd/common/navigation/sprite_siteselect.png") no-repeat scroll -8px -117px transparent;
	height:23px;
	position:relative;
	right:1px;
	top:-23px;
	width:69px;
	float:right;
}
#g_site_login a,
#g_site_logout a{
	display:block;
	width:69px;
	height:23px;
}

#g_site_logout{
	background-position:-8px -154px;
}

#g_site_logout a span,
#g_site_login a span{
	display:none;
}

#g_site_select li.g_current a{
	color:#192228;
	font-weight:bold;
}

#g_site_select a:hover{
	text-decoration:underline;
}

/* Default searchfield styling */
.g_searchfield span{
	background:transparent url("/gfx/grd/common/search/searchfield_slidingdoor.png") no-repeat left 0;
	height:23px;
	display:block;
}

.g_searchfield span input{
	background:transparent url("/gfx/grd/common/search/searchfield_slidingdoor.png") no-repeat right -27px;
	border:0;
	height:23px;
	width:200px;
	margin-left:1px;
	/* margin-top adjustment in ie7.css*/
	padding-left:4px;
	padding-right:4px;
	line-height:23px;
	color:#90979b;
}

/* Site search field */
#g_sitesearch {
	position:absolute;
	top:48px;
	right:0;
	width:179px;
}

#g_sitesearch.g_searchfield span input{
	width:100px;
}

#g_sitesearch button{
	position:absolute;
	left:auto;
	right:22px;
	top:-5px;
}

#g_topnav{
	height:80px;
}

#g_topmenu{
	position:absolute;
	top:2px;
	left:98px;
}

#g_topmenu li{
	float:left;
	overflow:hidden;
	margin:0;
}

#g_topmenu li a{
	position:relative;
	left:-1px;
	top:-1px;
	display:block;	
	width:174px;
	height:80px;
	font-size:15px;
	text-transform:uppercase;
	outline:none; /* does not work in IE7 */
}

#g_topmenu h2{
	background:transparent url("/gfx/grd/common/navigation/sprite_topnav_privat.png") no-repeat -2px 0;
	height:80px;
	text-indent:-9999px;
	margin:0;
	border-bottom:1px solid #e5e5e5;
}

#g_topnav h2.g_current{border:0}

/* Inspiration*/
#g_topnav_1 h2:hover{			background-position:-2px -90px}
#g_topnav_1 h2:active{			background-position:-2px -180px}
#g_topnav_1 h2.g_current{		background-position:-2px -270px}
#g_topnav_1 h2.g_current:hover{	background-position:-2px -360px}
#g_topnav_1 h2.g_current:active{background-position:-2px -450px}

/* MitTDC */
#g_topnav_2 h2{					background-position:-181px 0}
#g_topnav_2 h2:hover{			background-position:-181px -90px}
#g_topnav_2 h2:active{			background-position:-181px -180px}
#g_topnav_2 h2.g_current{		background-position:-181px -270px}
#g_topnav_2 h2.g_current:hover{	background-position:-181px -360px}
#g_topnav_2 h2.g_current:active{background-position:-181px -450px}

/* Shop - normal */
#g_topnav_3 h2{					background-position:-360px 0}
#g_topnav_3 h2:hover{			background-position:-360px -90px}
#g_topnav_3 h2:active{			background-position:-360px -180px}
#g_topnav_3 h2.g_current{		background-position:-360px -270px}
#g_topnav_3 h2.g_current:hover{	background-position:-360px -360px}
#g_topnav_3 h2.g_current:active{background-position:-360px -450px}

/* Hj�lp - normal */
#g_topnav_4 h2{					background-position:-539px  0}
#g_topnav_4 h2:hover{			background-position:-539px -90px}
#g_topnav_4 h2:active{			background-position:-539px -180px}
#g_topnav_4 h2.g_current{		background-position:-539px -270px}
#g_topnav_4 h2.g_current:hover{	background-position:-539px -360px}
#g_topnav_4 h2.g_current:active{background-position:-539px -450px}

#g_head .g_submenu{
	clear:left;
	height:30px;
	overflow:hidden;
	width:100%;	
	margin:0;
	background:transparent url("/gfx/grd/common/navigation/sprite_topnav_privat.png") no-repeat 0 -540px;
}

#g_head .g_submenu li{
	float:left;
	line-height:30px;
	margin-left:24px;
}

#g_head .g_submenu li a{
	color:#797979;
	display:block;
	height:30px;
	text-decoration:none
}

#g_head .g_submenu.g_submenu_level3{
	background-position:0 -540px;
}

/* Second navigation band in the header */
#g_head .g_submenu.g_submenu_level4{
	background-position:0 -577px;
}

#g_head .g_submenu li.g_submenu_hasoverlay a{
	background:transparent url("/gfx/grd/common/navigation/sprite_topnav_submenu_arrow.png") no-repeat right 9px;
	padding-right:12px;
}

/* Submenu indicator, link in level4 when you are on a site that is part of an overlay submenu */
#g_head .g_submenu.g_submenu_level4 li.g_submenu_overlay_indicator{
	background:transparent url("/gfx/grd/common/navigation/sprite_topnav_submenu_arrow.png") no-repeat right -23px;
	padding-right:12px;
}
#g_head .g_submenu.g_submenu_level4 li.g_submenu_overlay_indicator a{
	font-weight:bold;
	color:#192228;
}

#g_submenu_overlay li a,
#g_head .g_submenu li a{
	color:#797979;
	text-decoration:none
}

#g_submenu_overlay li a:hover,
#g_head .g_submenu li a:hover{
	color:#006cb8;
	text-decoration:underline;
}

#g_submenu_overlay li a:active,
#g_head .g_submenu li a:active{
	color:#77aecd;
}

#g_submenu_overlay li.g_current,
#g_head .g_submenu li.g_current a{
	color:#192228;
	font-weight:bold;
}

#g_submenu_overlay li.g_current a{
	font-weight:bold;
}

#g_submenu_overlay .g_block_txt {
	margin-top:10px;
}

/* Stripped topnav for checkout flow pages in the shop*/

/* old start */
.g_topnav_shop ul{position:absolute;top:18px;right:24px;}
.g_topnav_shop li{background:transparent url("/gfx/grd/common/navigation/sprite_top_shop_list.png") no-repeat 0 0;height:43px;width:128px;float:left;}
.g_topnav_shop li.g_topnav_shop_secure,.g_topnav_shop li.g_topnav_shop_hotline,.g_topnav_shop li.g_topnav_shop_soho{text-indent:-9999px;}
.g_topnav_shop li.g_topnav_shop_hotline{background-position:-128px 0;}
.g_topnav_shop li.g_topnav_shop_soho{background-position:-256px 0;}
.g_topnav_shop li.g_topnav_shop_callme{text-align:right;padding-top:10px;height:118px;background-image:none;}
/* old end */

.g_topnav_shop{
	overflow:hidden;
	position:relative;
}

.g_topnav_shop .g_topnav_content .g_topnav_secure{
	border-right:2px solid #e2e2e2;
	padding-right:18px;
	margin-right:6px;
	padding-left:28px;
	background:transparent url("/gfx/grd/common/navigation/topnav_secure.png") no-repeat 0 2px;
}

.g_topnav_shop .g_topnav_content{
	position:absolute;
	top:0;
	right:24px;
	padding-top:28px;
	overflow:hidden;
}
.g_topnav_shop .g_topnav_content ul{
	margin-right:24px;
}
.g_topnav_shop .g_topnav_content li {
	float:left;
	margin-left:12px;
	
	/* removed when old code is deleted */
	width:auto;
	height:auto;
	background-image:none;
	/* removed when old code is deleted */
}

.g_topnav_shop .g_topnav_content span,
.g_topnav_shop .g_topnav_content strong{
	display:block;
}

.g_topnav_shop .g_topnav_content .g_btn_callme {
	top:-5px;
}
/* checkout shop top end */


/** Top nav overlays **/
#g_submenu_overlay{
	width:180px;
	position:absolute !important;
	z-index:150;
	display:none;
}
#g_submenu_overlay .g_submenu_overlay_active{
	display:block;
}
#g_submenu_overlay .g_block_topnav_submenu_top{
	height:10px;
	position:absolute;
	top:-25px;
	width:auto;
	z-index:51;
}
#g_submenu_overlay .g_block_topnav_submenu_top_l{
	background:url("/gfx/grd/common/navigation/sprite_topnav_submenu_9slice.png") no-repeat -6px 2px transparent;
	float:left;
	height:27px;
	width:27px;
}
#g_submenu_overlay .g_block_topnav_submenu_top_r{
	background:url("/gfx/grd/common/navigation/sprite_topnav_submenu_9slice.png") repeat -208px -39px transparent;
	display:inline-block;
	height:27px;
	width:22px;
}

#g_submenu_overlay .g_block_topnav_submenu_top_m{
	background:url("/gfx/grd/common/navigation/sprite_topnav_submenu_9slice.png") repeat scroll -215px -84px transparent;
	float:left;
	height:27px;
	padding-top:7px;
	vertical-align:top;
	width:auto;
	cursor:default;
}
/* Overlay end */

/** Cart **/
#g_cart_info{
	position:absolute;
	right:22px;
	top:10px;
}

#g_head #g_logo{
	width:48px;
	height:41px;
	margin-left:24px;
	margin-top:18px;
}

#g_head_content{
	margin:0 auto;
	padding:40px 0 0;
	position:relative;
	width:996px;
}

#g_head_content .g_block_content{
	padding:0;
}

/* Left navigation */
ul#g_leftnav{
	margin:0;
}

ul#g_leftnav li{
	padding:0;
	line-height:18px;
}
ul#g_leftnav li:first-child{
	background-image:none;
	padding-top:8px;
}

ul#g_leftnav li:last-child{
	padding-bottom:8px;
	/* Exception in selfcare.js */
}
/* Dont add padding when a submenu (nested list) */
ul#g_leftnav ul li:last-child{
	padding-bottom:0;
	/* Exception in selfcare.js */
}

/* hide cut in the top most li element */
ul#g_leftnav li:first-child a{
	background-image:none;
}

ul#g_leftnav li:hover{
	background:#fafbfb url("/gfx/grd/common/navigation/sprite_leftnav.png") no-repeat scroll -238px 100%;
}

/* Hide the cut on the line after the one that is highlighted */
ul#g_leftnav li:hover + li a{
	background-image:none;
}

ul#g_leftnav li span{
	white-space:nowrap;
}

ul#g_leftnav a{
	color:#797979;
	display: block;
	padding:9px 18px 9px 20px;
	
	background:transparent url("/gfx/grd/common/navigation/sprite_leftnav.png") no-repeat scroll 9px 0px;
}

ul#g_leftnav ul a{
	padding:0 18px 0 20px;	
}

ul#g_leftnav li.g_submenu a:first-child{
	padding-top:7px;
	padding-bottom:0;
}

ul#g_leftnav li.g_submenu ul a:first-child{
	background:none;
	padding-top:0;
}

ul#g_leftnav a:hover{
	color:#006cb8;
	text-decoration:none;
}

ul#g_leftnav ul a:hover{}

/* Hide dotted border around focus'ed link */
ul#g_leftnav a:focus {
    outline: 0; /* Does not work in IE7 */
}

ul#g_leftnav .g_current a{
	font-weight:bold;
	color:#192228;
}

/* Dont color items if the main item is the current one */
ul#g_leftnav .g_current li a{
	font-weight:normal;
	color:#797979;
}

ul#g_leftnav .g_current a:hover{
	color:#006cb8;
}

ul#g_leftnav ul{
	margin-top:10px;
	margin-left:10px;
}

/* Level2 and level3*/
ul#g_leftnav ul li:first-child,
ul#g_leftnav ul li,
ul#g_leftnav ul li:hover{
	background:transparent url("/gfx/grd/common/navigation/sprite_leftnav.png") no-repeat scroll -497px 10px; /* Hide gradient for list items in submenus, and show - instead */
}

ul#g_leftnav ul li:hover{}

ul#g_leftnav ul li:first-child{
	padding-top:0;
}

ul#g_leftnav .g_submenu {
	background:#fafbfb url("/gfx/grd/common/navigation/sprite_leftnav.png") no-repeat -238px 100%;
	padding-top:0;
	padding-bottom:8px;
}

ul#g_leftnav li.g_submenu + li a{
	background-image: none;
}



#g_main_content{
	width:996px; /* compatibility with PLAY and padding on the right */
	margin:0 auto;
}

#g_page_naken{
	background-color:#fff;
}

#g_page_naken #g_main_content{
	width:auto;
}

/** Footer **/
div#g_foot{
	margin:0 auto;
	width:100%;
	clear:left;
}
div#g_foot_content{
	position:relative;
	margin:0 auto;
	overflow:hidden;
	padding:0 0 20px 0;
	width:996px;
}

div#g_foot div.g_block_content.g_block_footer{
	background-color:#f4f4f4;
}

div#g_foot div.g_foot_row{
	float:left;
}

div#g_foot div.g_foot_row.g_cut{
	background:transparent url("/gfx/grd/common/block/multiblock_cut.png") no-repeat 733px 100%;	
}

div#g_foot ul.g_foot_items{
	width:950px;
}

div#g_foot ul.g_foot_items > li{
	width:290px;
	margin-right:24px;
	margin-left:0;
	float:left;
	list-style:none outside none;
}

div#g_foot li.g_foot_items_plainhtml ul{
	margin-left:78px;
}

div#g_foot li.g_foot_items_plainhtml li{
	list-style:none outside none;
	margin-left:0;
}

div#g_foot li.g_foot_items_plainhtml a{
	font-size:13px;
}

/* Handling of e-maerket */
div#g_foot li.g_foot_items_plainhtml img{
	float:left;
}

div#g_foot div.g_foot_list{
	width:167px;
	padding-left:18px;
	float:left;
}
div#g_foot div.g_foot_list h4{
	margin-bottom:4px;
}

div#g_foot .g_foot_row div.g_foot_list:first-child{
	width:185px;
	padding-left:0;
	
}
/* Make a bit more space between the cut and the lists, overwrites the default styling for hr's */
div#g_foot_content div.g_block_c12 .g_hr{
	margin-bottom:5px;
}

div#g_foot div.g_foot_list.g_foot_list_common h4{
	color:#192228;
}

.g_foot_list.g_foot_list_common{
	position:absolute;
	right:29px;
}

div#g_foot div.g_foot_list li{
	line-height:12px;
	font-size:10px;
	list-style-image:none;
	margin-left:0;
}
/** Footer end **/

#g_breadcrumb{
	margin:0 auto;
	overflow:hidden;
	padding:0 0 8px 0;
	width:996px;
}

#g_breadcrumb ul{
	float:left;
	width:974px;
	height:32px;
	padding:2px 0 0 40px;
}
#g_breadcrumb li{
	float:left;
	background-color:#fff;
}

#g_breadcrumb li a span{
	background:url("/gfx/grd/common/navigation/sprite_breadcrumb.png") no-repeat 0 -75px transparent;
	display:block;
	height:32px;
	line-height:29px;
	margin-top:-2px;
	position:static;
	top:-2px;
	padding-left:23px;
	color:#818181;
}

#g_breadcrumb li a:hover span{
	color:#000;
}

#g_breadcrumb li a{
	display:block;
	height:29px; /* height adjusted in ie7.css */
	line-height:27px;
	margin-right:10px;
}

#g_breadcrumb li:first-child a span{
	padding:0;
	background:transparent none;
	margin-left:10px;
}
#g_breadcrumb{
	background:transparent url("/gfx/grd/common/navigation/breadcrumb_bg.png") no-repeat;
}

#g_breadcrumb li:first-child{
	background:#fff none;
	margin-left:0px;
}

#g_foot #g_breadcrumb li a{
	display:block;
	line-height:27px;
	color:#818181;
}

#g_breadcrumb .g_breadcrumb_current{
	background-color:transparent;
}

/* Styling of plainhtml element for the frontpage footer */
div.g_block_frontfooter .g_block_content{
	height:32px;
	position:relative;
}
div.g_block_frontfooter .g_block_txt{
	margin:0;
}

div.g_block_frontfooter ul:first-child{	
	right:auto;
	left:34px;
}
div.g_block_frontfooter ul:first-child li{
	margin-left:0 !important;
	margin-right:15px;
}

div.g_block_frontfooter ul{
	position:absolute;
	top:7px;
	right:34px;
}

div.g_block_frontfooter ul.g_front_foot{
	overflow:hidden;
}
div.g_block_frontfooter ul.g_front_foot li{
	font-size:10px;
	float:left;
	list-style:none outside none;
	margin-left:15px;
	color:#90979B;
}

/* column definitions */
.g_col{
	float: left;
	/* ie7 exception in ie7.css to fix margin-bottom */
}

.g_col_c3{	width: 246px;}
.g_col_c4{	width: 328px;}
.g_col_c5{	width: 410px;}
.g_col_c6{	width: 492px;}
.g_col_c7{	width: 574px;}
.g_col_c8{	width: 656px;}
.g_col_c9{	width: 738px;}
.g_col_c12{	width:984px;} /*4px wider than it "should" be, because of the margin-right on all elements */

.g_col_50{	width:50%;}

/** Table **/
.g_block_txt table{
	width:100%;
	margin-bottom:18px;
}

.g_block_txt tr.g_table_subheader{
	background-color:#e8f5f9;
	font-weight:bold;
}

/* to fix tables copied/reused from F5, because Headers in old tables had to be H2 */
.g_block_txt table h2{
	font-size:11px;
	margin:0;
}

.g_block_txt th{
	font-weight:bold;
	background-color:#dfe7eb;
	padding:10px 9px;
	vertical-align:top;
}

.g_block_txt td{
	border-top:1px solid #d4ebf3;
	border-bottom:1px solid #d4ebf3;
	border-left:1px solid #d4ebf3;
	padding:6px 9px;
	vertical-align:top;
}

.g_block_txt td:first-child{
	border-right:1px solid #d4ebf3;
	border-left:0;
}

/* CSS3 selector, does not work in IE6-8, used to fix a rare issue when a tablerow spans the entire width of the table and would get a
   border because of the first-child declaration above */
.g_block_txt td:last-child{
	border-right:0;
}

.g_block_txt tr.g_table_alt{
	background-color:#f7f9fa;
}

.g_block_txt td.g_table_highlight{
	background-color:#e8f5f9;
}
/** Table end **/


/** Progress bar **/
/* Container for the progressbar */
#g_progress_container{
	height:34px;
	width:926px;
	padding:0 24px;
	position:relative;
	margin-top:2px;
	margin-bottom:18px;
}

.g_block #g_progress_container{
	margin-top:18px;
	margin-bottom:12px;
}

/* Set graphics for all required elements, all uses the same sprite iamge */
#g_progress_container .g_progress_bar,
#g_progress_container .g_progress_bar span,
#g_progress_container li,
#g_progress_container li.g_progress_filled{
	background:transparent url("/gfx/grd/common/progressbar/sprite_progressbar.png") no-repeat 0 0;
}

#g_progress_container .g_progress_bar{
	background-position:0 -69px;
	background-repeat:repeat-x;
	height:3px;
	position:absolute;
	top:5px;
	left:37px;
}

#g_progress_container .g_progress_bar span.g_progress_bar_current{
	background-position:0 -54px;
	background-repeat:repeat-x;
	display:block;
	height:3px;
	position:absolute;
	top:0;
	z-index:50;
}

#g_progress_container .g_progress_bar span.g_progress_bar_filled{
	background-position:0 -62px;
	background-repeat:repeat-x;
	display:block;
	height:3px;
	position:absolute;
	top:0;
	z-index:40;
	width:450px; /*default width */
}

#g_progress_container ul{
	float:left;
	height:13px;
	position:absolute;
	z-index:70;
}

#g_progress_container li{
	width:150px;
	float:left;
	background-position:0 0;
	height:13px;
	position:relative;
	z-index:60;
}

#g_progress_container li.g_progress_visited{
	background-position:0 -18px;
}

#g_progress_container li.g_progress_filled{
	background-position:0 -36px;
}

/* Text describing the step */
#g_progress_container li span{
	position:absolute;
	top:15px;
	color:#90979b;
}

#g_progress_container li.g_current span{
	color:#192228;
	font-weight:bold;
}
/** progress bar end **/

/** Cart, for Trio and other flows, not Demandware **/
div.g_cart .g_block_pricepayment{
	font-size:15px;
	font-weight:bold;
	padding:17px 19px;
	margin-bottom:4px;;
}

div.g_cart a.g_price_min {
	display:block;
}

div.g_cart .g_block_pricepayment table{
	margin:0;
}

div.g_cart th,
div.g_cart td{
	padding:0;
}

div.g_cart .g_caption{
	display:block;
	margin:0 0 16px 0;
}

div.g_cart th.g_txt_right{
	color:#90979b;
}

table.g_table_cart th{
	background:none;
	font-weight:bold;
}

div.g_cart table.g_table_cart_noborder td{
	border:none;
}

div.g_cart_calculation p{
	margin-bottom:10px;
}

.g_cart .g_cart_details{
	border-top:1px solid #d6d6d6;
	padding-top:24px;
}
/** Cart **/

/** Splash **/
div.g_splash{
	background:transparent url("/gfx/grd/common/splash/onlinerabat_59x59.png") no-repeat 0 0;
	height:60px;
	width:60px;
	display:inline-block;
	text-indent:-9999px;
	text-align:left;
	margin-right:22px;
	position:relative;
	top:-16px;
}

/* Splash types - should be a sprite */
div.g_splash_eveningoffer{		background-image: url(/gfx/grd/common/splash/eveningoffer_60x60.png);}
div.g_splash_birthday{			background-image: url(/gfx/grd/common/splash/birthday_60x60.png);}
div.g_splash_christmasoffer{	background-image: url(/gfx/grd/common/splash/christmasoffer_60x60.png);}
div.g_splash_comingsoon{		background-image: url(/gfx/grd/common/splash/comingsoon_60x60.png);}
div.g_splash_onlineonly{		background-image: url(/gfx/grd/common/splash/onlineonly_60x60.png);}
div.g_splash_new{				background-image: url(/gfx/grd/common/splash/new_60x60.png);}
div.g_splash_mostsold{			background-image: url(/gfx/grd/common/splash/mostsold_60x60.png);}
div.g_splash_onlinediscount{	background-image: url(/gfx/grd/common/splash/onlinediscount_60x60.png);}
div.g_splash_lastchance{		background-image: url(/gfx/grd/common/splash/lastchance_60x60.png);}
div.g_splash_offer{				background-image: url(/gfx/grd/common/splash/offer_60x60.png);}
div.g_splash_wirelessrouter{	background-image: url(/gfx/grd/common/splash/wirelessrouter_60x60.png);}
div.g_splash_weekendoffer{		background-image: url(/gfx/grd/common/splash/weekendoffer_60x60.png);}

/* Toolbar and top */
.g_toolbar{
	float:right;
	height:32px;
	margin-right:18px;
}

.g_block_content .g_toolbar{
	padding-top:18px;
	height:auto;
}

/* Pagefile top */
div.g_block_c12 .g_toolbar{
	margin-right:0;
	height:auto;
}
.g_tools li{
	float:left;
}


.g_tools li a.g_btn_callme{
	margin:-5px -7px 0 2px;
	/* exception in ie7.css */
}


/** Search fields **/

/* Tabs above search fieldbox*/
#g_page ul.g_search_tabs{
	height:15px;
	margin-bottom:0;
}

#g_page ul.g_search_tabs li{
	float:left;
	list-style:none outside none;
	margin:0 8px;
}

ul.g_search_tabs li a{
	font-size:9px;
	text-decoration:none;
}
ul.g_search_tabs li a:hover{
	text-decoration:underline;
}

ul.g_search_tabs li.g_current a{
	color:#192228;
	text-decoration:none;
}
ul.g_search_tabs li.g_current a:hover,
ul.g_search_tabs li.g_current a:active{
	text-decoration:none;
	cursor:default;
}

div.g_search_mytdc_result{
	padding:24px 24px 4px 24px;
}

/* To fix padding isses after Google Nazism control over the layout */
.g_block_googleresults{
	padding-bottom: 18px;
}

div.g_search_mytdc_front{
	background:transparent url("/gfx/grd/common/search/google_bg.png") no-repeat 0 0;
}

div.g_search_mytdc_front .g_block_search_front{
	padding:30px 18px 13px;
}

div.g_search_mytdc_front .g_block_search_front{
	background:transparent url("/gfx/grd/common/search/google_input_bg.png") no-repeat 0 0;
}

div.g_search_mytdc_front .g_search_forms{
	padding:30px 18px 13px 120px;
}

div.g_search_mytdc_top .g_search_forms{
	padding:2px 17px 0 0;
}

div.g_search_mytdc_front .g_search_forms,
div.g_search_mytdc_result .g_search_forms{clear:left;}

.g_search_mytdc_top .g_search_forms{
	clear:left;
}

.g_search_mytdc_top .g_search_container input[type="text"],
.g_search_mytdc_front .g_search_container input[type="text"],
.g_search_mytdc_result .g_search_container input[type="text"]{
	background:transparent url("/gfx/grd/common/search/sprite_google_input_bg.png") no-repeat 0 0;
	height:22px;
	width:324px;
	line-height:22px;
	font-size:13px;
	margin-right:10px;
	padding:2px 6px;
	/* font-family in ie7.css */
	color:#122228; /* Part of a test to see if more ppl use the search */
	background-color:#fbfbfb;
	border:0;
}

/* Google search */
.g_search_container .g_search_default input[type="text"]{
	background-position:0 -30px;
}

/* Google image search */
.g_search_image_google .g_search_container .g_search_default input[type="text"]{
	background-position:0 -60px;
}

/* No google logo in the input on the resultpage */
.g_search_mytdc_result .g_search_container .g_search_default input[type="text"]{
	background-position:0 0;
}

.g_search_container .g_btn_googlesearch{
	position:relative;
	top:-5px;
}

.g_search_mytdc_front .g_search_button:hover,
.g_search_mytdc_result .g_search_button:hover{
	background-position:-206px -611px;
}

.g_search_mytdc_front .g_search_container,
.g_search_mytdc_result .g_search_container{
	overflow:visible;
}


/* Demandware Searchfield, is inserted via javascript from /js/local/shopsearch.js */
.g_block_shopsearch {
	position:absolute;
	right:0;
	top:86px;
	width:179px;
}

.g_block_shopsearch span input {
	width:100px;
}

.g_block_shopsearch .g_btn_internalsearch{
	position:absolute;
	left:auto;
	top:-5px;
	right:22px;
}

/* When placed next to the page header */
div.g_toolbar ul.g_search_tabs{
	margin-left:70px;
}

.g_block_search legend{
	display:none;
}

.g_search_container{
	overflow:hidden;
	height:27px;
}

.g_search_mytdc_front .g_search_container{
	height:40px;
}

.g_search_mytdc_result .g_search_container{
	height:28px;
	position: relative;
}

.g_search_field{
	float:left;
	position:relative;
	width:250px;
	padding-right:30px; /* same amount of px as the width of the span tag to render the end of the box */
}

/* Reset padding on fields with google look */
.g_search_mytdc_top .g_search_field,
.g_search_mytdc_front .g_search_field,
.g_search_mytdc_result .g_search_field{
	padding-right:9px;
}

/* Google logo for the result pages */
.g_search_mytdc_result .g_search_container span.g_search_logo{
	background:transparent url("/gfx/grd/common/search/google_logo.png") no-repeat 0 0;
	width:122px;
	height:30px;
	display:block;
	position:absolute;
	top:-2px;
	left:431px;
}

.g_search_google .g_search_field{
	width:332px;
}

/** Search field for google powered Kundecenter search **/
#g_google_search.g_searchfield{
	width:448px;
	position:relative;
}
#g_google_search.g_searchfield span input{
	width:390px;
}

#g_google_search .g_btn_internalsearch{
	position:absolute;
	top:-5px;
	left:auto;
	right:0;
}

/* Text in the middle of the search box */
#g_google_search h4 {
	left:488px;
	position:absolute;
	top:-3px;
	width:80px;
}

#g_google_search .g_search_help_toplist{
	position:absolute;
	top:-6px;
	left:571px;
	width:365px;
}
/** Google Powered kundecenter search end **/

/** Ankiro powered kundecenter search **/
#g_ks_searchform{
	position:relative;
}

#g_ks_searchform.g_searchfield span input{
	width:379px;
}
#g_ks_searchform .g_btn_internalsearch{
	position:absolute;
	top:-5px;
	left:389px;
}

#g_ks_searchform .g_ks_links{
	position:absolute;
	top:-5px;
	left:497px;
}
/** Ankiro powered search end **/


/* Sets a background, can be used on containers when waiting for AJAX content to load */
.g_block_waitspinner{
	position:relative;
	background:transparent url("/gfx/grd/common/spinner.gif") no-repeat 50% 50%;
}

/* Basic styling of paging */
.g_paging {
	padding-bottom:18px;
	text-align:center;
}
.g_paging .g_paging_prev{
	float:left;
}
.g_paging .g_paging_next{
	float:right;
}


/** jquery.lightbox styling */
/**
 * jQuery lightBox plugin
 * This jQuery plugin was inspired and based on Lightbox 2 by Lokesh Dhakar (http://www.huddletogether.com/projects/lightbox2/)
 * and adapted to me for use like a plugin from jQuery.
 * @name jquery-lightbox-0.5.css
 * @author Leandro Vieira Pinho - http://leandrovieira.com
 * @version 0.5
 * @date April 11, 2008
 * @category jQuery plugin
 * @copyright (c) 2008 Leandro Vieira Pinho (leandrovieira.com)
 * @license CC Attribution-No Derivative Works 2.5 Brazil - http://creativecommons.org/licenses/by-nd/2.5/br/deed.en_US
 * @example Visit http://leandrovieira.com/projects/jquery/lightbox/ for more informations about this jQuery plugin
 */
#jquery-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 950;
	width: 100%;
	height: 500px;
}
#jquery-lightbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 960;
	text-align: center;
	line-height: 0;
}
#jquery-lightbox a img { border: none; }
#lightbox-container-image-box {
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#lightbox-container-image { padding: 10px; }
#lightbox-loading {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}
#lightbox-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 940;
}
#lightbox-container-image-box > #lightbox-nav { left: 0; }
#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
	width: 49%;
	height: 100%;
	zoom: 1;
	display: block;
}
#lightbox-nav-btnPrev { 
	left: 0; 
	float: left;
}
#lightbox-nav-btnNext { 
	right: 0; 
	float: right;
}
#lightbox-container-image-data-box {
	background-color: #fff;
	margin: 0 auto;
	overflow: auto;
	width: 100%;
	padding: 18px 10px 0;
}
#lightbox-container-image-data {
	line-height: 18px;
	padding: 0 0 0 14px;
}
#lightbox-container-image-data #lightbox-image-details { 
	float: left; 
	text-align: left;
}
#lightbox-image-details-caption {
	font-weight: bold; 
}
#lightbox-image-details-currentNumber {
	display: block; 
	clear: left; 
	padding-bottom: 1.0em;	
}
#lightbox-secNav-btnClose {
	width: 66px; 
	float: right;
	margin-bottom: 0.7em;
}

/* Overwrite of default jQuery.LightBox arrows graphics */
#jquery-lightbox #lightbox-nav-btnPrev {
	background-position:0 46% !important;
}
#jquery-lightbox #lightbox-nav-btnNext {
	background-position:100% 46% !important;
}
/** Lightbox end **/

/** qTip2 custom styling **/
.ui-tooltip-tdc{
	width:466px;	
	max-width:466px;
}

.ui-tooltip-tdc .ui-tooltip-titlebar,
.ui-tooltip-tdc .ui-tooltip-content{
	border-color: #e2e2e2;
	color: #192228;
}

.ui-tooltip-tdc .ui-tooltip-content{
	background-color: #e8f5f9;
	padding:8px;
	font-size:11px;	/* Needed for ie7, should perhaps be moved to the ie7.css stylesheet, though it does not harm here */
}

.ui-tooltip-tdc .ui-tooltip-titlebar{
	background-color: #e8f5f9;
}

.ui-tooltip-tdc .ui-state-default .ui-tooltip-icon{
	background-position: -42px 0;
}

.ui-tooltip-content .g_block_txt{
	margin:0;	
	margin-bottom:-18px;
}

.ui-tooltip-content .g_block_txt h2{
	margin-top:1px;
	margin-bottom:4px;
	font-size:12px;
	line-height:16px;
}

.ui-tooltip-content .g_close{
	position:absolute;
	top:8px;
	right:8px;	
}

/* Styling for selfcare nagivation overlay menus */
.ui-tooltip-selfcarenavigation .ui-tooltip-content{
	background-color:#fff;
	border:1px solid #e2e2e2;
	padding:0 9px;
}

.ui-tooltip-selfcarenavigation .ui-tooltip-content li{
	border-top:1px solid #f4f4f4;
}

.ui-tooltip-selfcarenavigation .ui-tooltip-content li:first-child{
	border-top:none;	
}
.ui-tooltip-selfcarenavigation .ui-tooltip-content li a{
	display:block;
	width:100%;
	padding:9px 0;
	font-size:11px; /* Needed in IE7 */
}

/* Icons */
.g_icon{
	text-indent:-9999px;
}
.g_icon_36{
	height:36px;
	width:36px;
	background:transparent url("/gfx/grd/common/icon/sprite_36x36.png") no-repeat -4px -4px;
}

.g_icon_alert_blue{			background-position:-4px -4px;}
.g_icon_alert_red{			background-position:-44px -4px;}
.g_icon_usage{				background-position:-84px -4px;}
.g_icon_questionmark{		background-position:-124px -4px;}
.g_icon_mobile{				background-position:-4px -44px;}
.g_icon_mbb{				background-position:-44px -44px;}
.g_icon_landline{			background-position:-84px -44px;}
.g_icon_tv{					background-position:-124px -44px;}
.g_icon_bbphone{			background-position:-4px -84px;}
.g_icon_minutes{			background-position:-44px -84px;}
.g_icon_data{				background-position:-84px -84px;}
.g_icon_othersubsriptions{	background-position:-124px -84px;}
.g_icon_bb{					background-position:-4px -124px;}