/**
 * HTML5 ✰ Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */


/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */

body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/**
 * Minimal base styles.
 */

/* Always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
}

textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } 

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* Colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
   border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }


/**
 * You might tweak these..
 */

body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #333;
  /* Set your base font here, to apply evenly */
  font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande";
}


/**
 * Primary styles
 *
 * Author: 	Morgan Roderick
			Daniel Aakjaer Soerensen
 */

body {
	text-align: center;
	font-size: 1.1em;
	line-height: 1.6em;
	border-top: 6px solid #e22e59;
}

#container {
	margin: 0 auto;
	width: 95%;
	max-width: 960px;
	text-align: left;
}

header[role="banner"] {
	overflow: auto;
	position: relative;
	margin: 0 auto;
	background: transparent url(/images/menu-border.png) 0 100% repeat-x;
}

	header[role="banner"] .logo {
		float: left;
		width: 20%;
		margin: 18px 0 0;
	}
		header[role="banner"] .logo img {
		}

	/* menu */
	header[role="banner"] nav {
	    list-style-type: none;
	}

	    header[role="banner"] nav li {
	        float: left;
			width: 20%;
			height: 160px;
	    }
    
	        header[role="banner"] nav li a {
	            display: block;
	            margin: 30px 8px 0 0;
	            padding: 20px 16px;
				color: #333;
				font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande";
				font-style: normal;
				font-weight: 400;
				font-size: 30px;
				text-decoration: none;
	        }
	
	        header[role="banner"] nav li a em {
				display: block;
				font-size: 21px;
				color: #aaa;
				font-style: normal;
				font-weight: 400;
			}
	
	body.blog header[role="banner"] nav li.blog,
	body.archives header[role="banner"] nav li.archives,
	body.about header[role="banner"] nav li.about,
	body.contact header[role="banner"] nav li.contact {
		border-bottom: 7px solid #999;
	}
	body.blog header[role="banner"] nav li.blog a,
	body.archives header[role="banner"] nav li.archives a,
	body.about header[role="banner"] nav li.about a,
	body.contact header[role="banner"] nav li.contact a {
		color: #e22e59;
	}

#main {
	position: relative;
	margin: 0 auto;
	padding: 32px 0 0;
	text-align: left;
}

#sidebar {
	float: left;
	display: inline;
	width: 27%;
	padding: 32px 0 0;
}	


body.frontpage #main {
	float: left;
	width: 68%;
	margin-right: 5%;
}

body.frontpage .about-teaser p {
	font-size: 0.9em;
	line-height: 1.6em;
}

	
article {}

	article .post-date {
		margin: 0;
		padding: 0;
		font-size: .8em;
		color: #999;
		text-transform: uppercase;
		font-style: italic;
	}
	
.archive {
	margin-left: 0;
	list-style: none;
}	
	.archive li {
		padding: .7em .5em;
		border-bottom: 1px solid #e8e8e8;
	}	
		.archive li a {
			display: block;
			padding-left: 5em;
			font-size: 1.2em;
			text-decoration: none;
		}	
			.archive li a:hover {
				text-decoration: underline;
			}
			
			.archive li .post-date {
				float: left;
				color: #999;
			}	

#sidebar ul.articles {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 0.9em;
}	

#container footer {
	clear: both;
	padding: 32px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	color: #999;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */	
}


a, a:active, a:visited { color: #e22e59; }
a:hover { color: #e22e59; }

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 {
	font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande";
	font-style: normal;
	font-weight: 400;
	line-height: 1em;
}

	h1 {
	    margin: 0 0 .3em;
		padding: 0;
	    font-size: 4em;
		line-height: 1.1em;
	}
		h1 > a {
			color: #333;
			text-decoration: none;
		}
	
	 	h1 > a:hover {
			text-decoration: underline;	
		}

			h1 > a:hover:after {
				color: #999;
				content: ' #';
			}	
	
	h2 {
	    margin: 1.2em 0 .5em;
		font-size: 2.3em;
	}
	
	h3 {
	    font-size: 1.7em;
	    margin: 1.2em 0 .5em;
	}

blockquote {
	padding: 1em .6em 1em 2.5em;
	font-style: italic;
	border-top: 6px solid #ddd;
	border-bottom: 6px solid #ddd;
}

blockquote:before {
	content: "”";
	float: left;
	margin: 27px 0 0 -50px;
	padding-right: 30px;
	font-size: 6em;
	color: #ccc;
}

hr,p,ul,ol,dl,pre, address,table,form,blockquote {
	margin-bottom:1.6em;
}

p + p {
	margin-top:-.8em;
}
	
p:last-child {
	margin-bottom: 0;
}
	
/* other elements */	
	
.profile-img {
	margin: .5em 0;
	border: 7px solid #e8e8e8;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */	
}	

/* comments */	
#idc-container-parent {
	margin-top: 40px;
}
	#idc-container-parent #idc-container {
		max-width: none;
	}

		#idc-container-parent #idc-container {
			max-width: none;
		}
	
		#idc-container-parent #idc-container div {
			font-size: 1em;
		}

		#idc-container-parent #idc-container h3 {
			margin: 0 0 .5em;
			padding: 0 0 .2em;
			font-size: 1.8em;
		}
		
		#idc-container-parent #IDCommentsHead h3 {
			font-size: 2.3em;
			border-bottom: 4px solid #ccc;
		}

	#idc-container-parent #idc-container .idc-c {
		padding-top: 1.5em;
		padding-bottom: 1em;
		border-top: 1px solid #ccc;
	}

	/* thread */
	#idc-container-parent #idc-container .idc-thread .idc-thread {
		margin-left: 1em;
	}
	
		#idc-container-parent #idc-container .idc-thread .idc-thread .idc-c {
			background-position: -1528px -104px;
		}

		#idc-container-parent #idc-container .idc-thread:first-child > .idc-c {
			padding-top: 0;
			border-top: 0;
		}
		

	/* vote */
	#idc-container-parent #idc-container .idc-v	{
		font-size: 0.9em;
	}
	
	#idc-container .idc-a_nomenu, 
	#idc-container .idc-a {
		margin: 0 15px 0 0 !important;
	}
	
	#idc-container-parent #idc-container .idc-text,
	#idc-container-parent #idc-container div.idc-text_noresize, 
	#idc-container-parent #idc-container textarea.idc-text_noresize {
		background-image: none;
		border: 5px solid #e8e7e3;
		font-size: 1em;
		
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
	    box-sizing: border-box;         /* Opera/IE 8+ */	

	}
	
	#idc-container-parent #idc-container .idc-c .idc-c-h {
		background-image: none;
	}
	
	#idc-container-parent #idc-container .idc-c .idc-i {
		margin-left: 0;
		font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande";
		font-style: normal;
		font-weight: 400;
		font-size: 1.7em;
	}
	
		#idc-container-parent #idc-container .idc-i a {
			font-size: 1em;
			color: #333;
			text-decoration: none;
		}
		
		#idc-container-parent #idc-container .idc-i em a {
			font-size: 1.6em;
			color: #999;
		}
		
		#idc-container-parent #idc-container .idc-i .idc-time {
			color: #fff;
		}


		#idc-container-parent #idc-container .idc-c-t {
			padding: 0;
		}

			#idc-container-parent #idc-container .idc-c-t-inner {
				font-size: 0.9em;
				line-height: 1.5em;
			}

		#idc-container-parent #idc-container .IDCommentThreadTimeRead {
			display: none;
		}

		#idc-container textarea.idc-text_noresize {
			background-image: none;
		}

		#idc-container-parent #idc-container .idc-collapselink_closed, 
		#idc-container-parent #idc-container .idc-collapselink {
			font-size: 0.9em;
			font-weight: normal;
		}



img,
embed, 
object, 
iframe,
video { 
	max-width: 100%; 
}

.ie6 img {
	width: 100%;
}




/**
 * Non-semantic helper classes: please define your styles before this section.
 */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }



/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will successfully override.
 */

@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */

}

@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */

}




/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-width: 768px) {

	header[role="banner"] .logo img {
		width: 75px;
	}

	header[role="banner"] nav li {
		height: 110px;
	}
	
		header[role="banner"] nav li a {
			margin-top: 20px;
			letter-spacing: 1px;
		}
		
			header[role="banner"] nav li a em {
				display: none;
			}

	.frontpage div#main {
		float: none;
		width: auto;
		margin-right: 0;
	}
	
	#sidebar {
		float: none;
		width: auto;
		margin-right: 0;
	}

	.profile-img {
		float: right;
		margin: 1em 0 1em 1em;
	}

  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

@media screen and (max-width: 767px) {
	h1 {
		font-size: 3em;
	}
}

/* max-width: 480
....................................................................................... */

@media screen and (max-width: 480px) {

	body {
		font-size: 1em;
	}

	header[role="banner"] {
		height: 155px;
	}
		
		/* Site logo */
		header[role="banner"] .logo { 
			float: none;
			display: block;
			width: auto;
			text-align: center;
		}

		header[role="banner"] nav ul {
			text-align: center;
		}

			header[role="banner"] nav li {
				float: none;
				width: auto;
				display: inline-block;
				height: auto !important;
			}
				
				header[role="banner"] nav li a {
					margin: 0 0 .5em;
					padding: .3em .5em;
					font-size: 22px;
					text-transform: uppercase;
				}

	.archive li a {
		padding-left: 0;
	}	
		.archive li .post-date {
			display: block;
			float: none;
			font-size: 0.9em;
			font-style: italic;
			line-height: 1.4em;
		}	

	#idc-container-parent #idc-container .idc-v	{
		display: none;
	}

	#idc-container-parent #idc-container .idc-thread .idc-thread {
		margin-left: .3em;
	}

	#idc-container-parent #idc-container .idc-c-h,
	#idc-container-parent #idc-container .idc-c .idc-i,
	#idc-container-parent #idc-container .idc-c .idc-c-h-inner {
		height: auto;
	}

}


/* max-width: 320
....................................................................................... */

@media screen and (max-width: 320px) {

	/* Site logo */
	header[role="banner"] .logo { 
	}

		header[role="banner"] nav li a {
			padding: .3em;
		}

	h1 {
		font-size: 2.3em;
	}

	#idc-container-parent #idc-container .idc-i .idc-time {
		white-space: nowrap;
	}
	
}

/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

