<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>	   <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>	   <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		{% if page.description %}
			<meta name="description" content="{{page.description}}">
		{% endif %}
		<meta name="author" content="Morgan Roderick" />

		<!-- CSS: implied media="all" -->
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/stylesheets/pygments.css" />

		<!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
	</head>
	<body class="{{page.site_section}}">
	  <div id="container">
		<header>
			<a href="/" class="home">roderick.dk</a>
			<ul class="nav">
				<li><a href="/">Blog</a></li>
				<li><a href="/archives/">Archives</a></li>
				<li><a href="/about/">About</a></li>
				<li><a href="/contact/">Contact</a></li>
			</ul>
			<a href="/atom.xml" class="feed">Subscribe to the feed</a>
		</header>
		<div id="main" role="main">
			{{ content }}
		</div>
		<footer>
			&copy; Morgan Roderick, unless otherwise noted.
		</footer>
	  </div>

	  <!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID -->
	  <script>
		var _gaq=[["_setAccount","UA-869742-1"],["_trackPageview"]];
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
		g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
		s.parentNode.insertBefore(g,s)}(document,"script"));
	  </script>
	</body>
</html>