/** Styles for buttons **/
/* Basket */
.g_btn{
	background:transparent url("/gfx/grd/common/button/sprite_button.png") no-repeat 0 0;
	border:0;
	cursor:pointer;
	margin:0;
	padding:0;
	overflow:hidden;

/*	Because of the 5px gray fading border around the button we nudge the button -5px */
	position:relative;
	left:-5px;
}

.g_btn[disabled="disabled"]{
	cursor:default;
}

/* When buttons are aligned to the right, they are nudged 5px, because of the gray shade effect in the graphics*/
.g_btn.g_right{
	left:5px;	
}

a.g_btn_readmore{
	height:0;
	width:94px;
	padding-top:34px;
	display:inline-block;
	background-position:-1px -195px;	
}
a.g_btn_readmore:hover{		background-position:-1px -240px;}
a.g_btn_readmore.g_disabled{background-position:-1px -285px;}


/*
	padding-top set to same as height of the button element, to hide the default text. Same goes for alle button types
*/
button.g_btn_buy{
	height:54px;
	width:203px;
	background-position:-1px 0;
}

button.g_btn_buy span{
	display:none;	/* Because this button is made with graphics, and text-indent:-9999px does not work in IE7 */
}

button.g_btn_buy:hover{		background-position:-1px -65px;}
button.g_btn_buy.g_disabled{background-position:-1px -129px;}

a.g_btn_buy{
	height:0;
	width:203px;
	padding-top:54px;
	display:inline-block;
	background-position:-1px 0;	
}
a.g_btn_buy:hover{		background-position:-1px -65px;}
a.g_btn_buy.g_disabled{	background-position:-1px -129px;}

/* Special position when inside multiblocks */
div.g_multi .g_multi_row .g_multi_c3 a.g_btn_buy{
	left:-24px;
}

div.g_multi .g_multi_row .g_multi_c3:first-child a.g_btn_buy{
	left:-21px;
}

/* Notify Me / Skriv mig op */
button.g_btn_notifyme{
	height:54px;
	width:203px;
	background-position:-396px -448px;
}

button.g_btn_notifyme span{
	display:none;	/* Because this button is made with graphics, and text-indent:-9999px does not work in IE7 */
}

button.g_btn_notifyme:hover{		background-position:-396px -511px;}
button.g_btn_notifyme.g_disabled{	background-position:-396px -574px;}

a.g_btn_notifyme{
	height:0;
	width:203px;
	padding-top:54px;
	display:inline-block;
	background-position:-396px -448px;
}

a.g_btn_notifyme:hover{				background-position:-396px -511px;}
a.g_btn_notifyme.g_disabled{	background-position:-396px -574px;}

/* Call me */
button.g_btn_callme{
	height:34px;
	width:128px;
	background-position:-609px -447px;
}

button.g_btn_callme span{
	display:none;	/* Because this button is made with graphics, and text-indent:-9999px does not work in IE7 */
}

button.g_btn_callme:hover{		background-position:-609px -492px;}
button.g_btn_callme.g_disabled{	background-position:-609px -537px;}

a.g_btn_callme{
	height:0;
	width:128px;
	padding-top:34px;
	display:inline-block;
	background-position:-609px -447px;
}

a.g_btn_callme:hover{		background-position:-609px -492px;}
a.g_btn_callme.g_disabled{	background-position:-609px -537px;}

/* K�b small */
button.g_btn_buy_small{
	height:39px;
	width:148px;
	background-position:-1px -329px;
}

button.g_btn_buy_small span{
	display:none;	/* Because this button is made with graphics, and text-indent:-9999px does not work in IE7 */
}

button.g_btn_buy_small:hover{		background-position:-1px -379px;}
button.g_btn_buy_small.g_disabled{background-position:-1px -429px;}




button.g_btn_buy_approve_payment{
	height:39px;
	width:200px;
	background-position:-1px -479px;
}

button.g_btn_buy_approve_payment span{
	display:none;	/* Because this button is made with graphics, and text-indent:-9999px does not work in IE7 */
}

button.g_btn_buy_approve_payment:hover{		background-position:-1px -530px;}
button.g_btn_buy_approve_payment.g_disabled{background-position:-1px -581px;}

button.g_btn_payment{
	height:39px;
	width:163px;
	background-position:-206px -275px;
}

button.g_btn_payment span{
	display:none;	/* Because this button is made with graphics, and text-indent:-9999px does not work in IE7 */
}

button.g_btn_payment:hover{		background-position:-206px -326px;}
button.g_btn_payment.g_disabled{background-position:-206px -377px;}

button.g_btn_next{
	height:40px;
	width:164px;
	padding-top:40px;	
	background-position:-206px 0;
}
button.g_btn_next span{
	display:none;	/* Because this button is made with graphics, and text-indent:-9999px does not work in IE7 */
}

button.g_btn_next:hover{		background-position:-206px -51px;	}
button.g_btn_next.g_disabled{	background-position:-206px -103px;	}

button.g_btn_search{
	height:38px;
	width:58px;
	padding-top:38px;
	background-position:-206px -563px;
}
button.g_btn_search span{
	display:none;	/* Because this button is made with graphics, and text-indent:-9999px does not work in IE7 */
}

button.g_btn_search:hover{		background-position:-206px -611px;	}
button.g_btn_search.g_disabled{	background-position:-206px -659px;	}


/* Search button used for internal search fields */
button.g_btn_internalsearch{
	width:48px;
	height:33px;	
	padding-top:33px;
	background-position:-268px -563px;
}
button.g_btn_internalsearch span{
	display:none;	/* Because this button is made with graphics, and text-indent:-9999px does not work in IE7 */
}

button.g_btn_internalsearch:hover{		background-position:-268px -611px;	}
button.g_btn_internalsearch.g_disabled{	background-position:-268px -659px;	}


button.g_btn_googlesearch{
	height:36px;
	width:48px;
	padding-top:36px;
	background-position:-321px -563px;
}
button.g_btn_googlesearch span{
	display:none;	/* Because this button is made with graphics, and text-indent:-9999px does not work in IE7 */
}

button.g_btn_googlesearch:hover{		background-position:-321px -611px;	}
button.g_btn_googlesearch.g_disabled{	background-position:-321px -659px;	}

a.g_btn_yes{
	height:0;
	width:38px;
	display:inline-block;
	background-position:-206px -153px;
}
a.g_btn_yes:hover{		background-position:-206px -194px;	}
a.g_btn_yes.g_disabled{	background-position:-206px -235px;	}

a.g_btn_no{
	height:0;	
	width:38px;
	line-height:100px;
	display:inline-block;
	background-position:-256px -153px;
}
a.g_btn_no:hover{		background-position:-256px -194px;	}
a.g_btn_no.g_disabled {	background-position:-256px -235px;	}

/* TDC Login - Log ind */
button.g_btn_tdclogin_in{
	height:33px;
	width:84px;
	background-position:-206px -428px;
}

button.g_btn_tdclogin_in span{
	display:none;	/* Because this button is made with graphics, and text-indent:-9999px does not work in IE7 */
}

button.g_btn_tdclogin_in:hover{		background-position:-206px -473px;}
button.g_btn_tdclogin_in.g_disabled{background-position:-206px -518px;}


button.g_btn_tdclogin_out{
	height:33px;
	width:84px;
	background-position:-301px -428px;
}

button.g_btn_tdclogin_out span{
	display:none;	/* Because this button is made with graphics, and text-indent:-9999px does not work in IE7 */
}

button.g_btn_tdclogin_out:hover{		background-position:-301px -473px;}
button.g_btn_tdclogin_out.g_disabled{background-position:-301px -518px;}


button.g_btn_cart{
	height:33px;
	width:162px;
	background-position:-396px -640px;
	left:0;
}
button.g_btn_cart span{
	display:none;	/* Because this button is made with graphics, and text-indent:-9999px does not work in IE7 */
}

button.g_btn_cart_1{ 			background-position:-396px 0; }
button.g_btn_cart_1:hover{ 		background-position:-575px 0; }
button.g_btn_cart_2{ 			background-position:-396px -45px; }
button.g_btn_cart_2:hover{ 		background-position:-575px -45px; }
button.g_btn_cart_3{ 			background-position:-396px -90px; }
button.g_btn_cart_3:hover{ 		background-position:-575px -90px; }
button.g_btn_cart_4{ 			background-position:-396px -135px; }
button.g_btn_cart_4:hover{ 		background-position:-575px -135px; }
button.g_btn_cart_5{ 			background-position:-396px -180px; }
button.g_btn_cart_5:hover{ 		background-position:-575px -180px; }
button.g_btn_cart_6{ 			background-position:-396px -225px; }
button.g_btn_cart_6:hover{ 		background-position:-575px -225px; }
button.g_btn_cart_7{ 			background-position:-396px -270px; }
button.g_btn_cart_7:hover{ 		background-position:-575px -270px; }
button.g_btn_cart_8{ 			background-position:-396px -315px; }
button.g_btn_cart_8:hover{ 		background-position:-575px -315px; }
button.g_btn_cart_9{ 			background-position:-396px -360px; }
button.g_btn_cart_9:hover{ 		background-position:-575px -360px; }
button.g_btn_cart_9plus{ 		background-position:-396px -405px; }
button.g_btn_cart_9plus:hover{  background-position:-575px -405px; }


a.g_btn_businesscare_subscriberId{
	height:40px;
	width:171px;
	display:inline-block;
	background-image:url("/gfx/grd/common/button/sprite_businesscare_navigator.png");
	background-position:-191px -10px;
	outline:none;
	left:0;
}
a.g_btn_businesscare_subscriberId:hover{	background-position:-191px -57px;	}
a.g_btn_businesscare_subscriberId.g_disabled {}
a.g_btn_businesscare_subscriberId span{ display:none;}

a.g_btn_businesscare_ban{
	height:40px;
	width:171px;
	display:inline-block;
	background-image:url("/gfx/grd/common/button/sprite_businesscare_navigator.png");
	background-position:-12px -10px;
	outline:none;
	left:0;
}
a.g_btn_businesscare_ban:hover{		background-position:-12px -57px;	}
a.g_btn_businesscare_ban.g_disabled {}
a.g_btn_businesscare_ban span{display:none;}

a.g_btn_vaelg{
	height:0;
	padding-top:33px;
	width:94px;
	display:inline-block;
	background-image:url("/gfx/grd/common/button/sprite_vaelg.png");
	background-position:-10px -11px;
}
a.g_btn_tilfoej span{
	display:none;	/* Because this button is made with graphics, and text-indent:-9999px does not work in IE7 */
}

a.g_btn_vaelg:hover{		background-position:-10px -56px;}
a.g_btn_vaelg.g_disabled{	background-position:-10px -101px;}


button.g_btn_default{
	background:url("/gfx/grd/common/button/sprite_default.png") no-repeat 100% -45px;
	border:0 none;
	cursor:pointer;
	font-size:11px;
	height:35px;
	overflow:visible;
	padding:0 29px 0 0;
	text-align:center;
	color:#006cb8;
	font-family:verdana,arial,sans-serif;
	position:relative;
	left:-3px;
}

button.g_btn_default span{
	background:url("/gfx/grd/common/button/sprite_default.png") no-repeat 0 0;
	display:block;
	height:35px;
	line-height:35px;
	padding:0 0 0 29px;
	white-space:nowrap;
}

button.g_btn_default:hover{	color:#192228;}


/* IE active bug, not fully fixed
button.g_btn_default:active{	
	-ms-background-position-x:100%;
	-ms-background-position-y:-44px;
}

button.g_btn_default:active span{
	-ms-background-position-x:-1px;
	-ms-background-position-y:-1px;
}
*/

button.g_btn_default.g_current{
	background-position:100% -225px;
	color:#fff;
}

button.g_btn_default.g_current span{	background-position:0 -180px;}

button.g_btn_default.g_disabled{
	background-position:100% -135px;
	color:#a1a8ab;	
	cursor:default;
}
button.g_btn_default.g_disabled span{	background-position:0 -90px;}

/* fixing evil default firefox padding */
button::-moz-focus-inner {
	padding:0;
	border:none;  
}

a.g_btn_default{
	background:url("/gfx/grd/common/button/sprite_default.png") no-repeat 100% -45px;
	display:inline-block;
	padding:0 29px 0 0;
	text-decoration:none;
	color:#006cb8;
	position:relative;
	left:-3px;
	text-align:center;
	line-height:15px;
}

a.g_btn_default.g_right{
	left:3px;	
}

a.g_btn_default span {
	background:url("/gfx/grd/common/button/sprite_default.png") no-repeat 0 0;
	display:block;
	padding:10px 0 10px 29px;
}

a.g_btn_default:hover{
	text-decoration: none;
	color:#192228;
}

a.g_btn_default.g_disabled{
	background-position:100% -135px;
	color:#a1a8ab;	
	cursor:default;
}

a.g_btn_default.g_disabled span{
	background-position:0 -90px;
}

/* Because of the 12px font-size, and forced underline on links used in articles, we need to nurse the buttons */
div.g_article a.g_btn_default, div.g_article_wide a.g_btn_default {
	text-decoration:none;
	font-size:11px;
}
div.g_article a.g_btn_default:hover, div.g_article_wide a.g_btn_default:hover {
	text-decoration:underline;
}

/* White button */
a.g_btn_small{
	background:url("/gfx/grd/common/button/white_btn_end.png") no-repeat 100% -5px;
	display:inline-block;
	padding:0 10px 0 0;
	text-decoration:none;
	color:#a9a9a9;
	position:relative;
	left:-1px;
}

button.g_btn_small{
	background:url("/gfx/grd/common/button/white_btn_end.png") no-repeat 100% 0;
	border:0 none;
	cursor:pointer;
	font-size:11px;
	height:35px;
	overflow:visible;
	padding:0 10px 0 0;
	text-align:center;
	color:#a9a9a9;
	font-family:verdana,arial,sans-serif;
	position:relative;
	left:-1px;
}

button.g_btn_small span{
	background:url("/gfx/grd/common/button/white_btn_long.png") no-repeat 0 0;
	display:block;
	height:35px;
	line-height:35px;
	padding:0 0 0 10px;
	white-space:nowrap;
}

/* When buttons are aligned to the right, they are nudged 5px, because of the gray shade effect in the graphics*/
.g_btn.g_right.g_right,
.g_btn_small.g_right{
	left:5px;
}

a.g_btn_small span{
	background:url("/gfx/grd/common/button/white_btn_long.png") no-repeat left -5px;
	display:block;
	padding:6px 0 5px 10px;
}

.g_btn_small:hover{		color:#006cb8;}

.g_btn_small.g_disabled:hover,
.g_btn_small.g_disabled{	color:#ddd;cursor:default;}


/* Selfcare */
button.g_btn_save{
	background-image:url("/gfx/grd/common/button/sprite_gem.png");
	height:33px;
	width:85px;
	padding-top:33px;
	background-position:0 0;
}
button.g_btn_save span{ display:none; }

button.g_btn_save:hover{		background-position:0 -35px	}
button.g_btn_save.g_disabled{	background-position:0 -71px }

button.g_btn_videre{
	background-image:url("/gfx/grd/common/button/sprite_videre.png");
	height:33px;
	width:85px;
	padding-top:33px;
	background-position:0 0;
}
button.g_btn_videre span{ display:none; }

button.g_btn_videre:hover{		background-position:0 -35px	}
button.g_btn_videre.g_disabled{	background-position:0 -71px }

button.g_btn_godkend{
	background-image:url("/gfx/grd/common/button/sprite_godkend.png");
	height:33px;
	width:85px;
	padding-top:33px;
	background-position:0 0;
}
button.g_btn_godkend span{ display:none; }

button.g_btn_godkend:hover{		background-position:0 -35px	}
button.g_btn_godkend.g_disabled{	background-position:0 -71px }

button.g_btn_paythisbill{
	background-image:url("/gfx/grd/common/button/sprite_paythisbill.png");
	height:33px;
	width:157px;
	padding-top:33px;
	background-position:0 0;
}
button.g_btn_paythisbill span{ display:none; }

button.g_btn_paythisbill:hover{		background-position:0 -35px	}
button.g_btn_paythisbill.g_disabled{	background-position:0 -71px }

button.g_btn_hent{
	background-image:url("/gfx/grd/common/button/sprite_hent.png");
	height:33px;
	width:63px;
	padding-top:33px;
	background-position:0 0;
}
button.g_btn_hent span{ display:none; }

button.g_btn_hent:hover{		background-position:0 -35px	}
button.g_btn_hent.g_disabled{	background-position:0 -71px }

button.g_btn_tilfoejabonnement{
	background-image:url("/gfx/grd/common/button/sprite_tilfoejabonnement.png");
	height:33px;
	width:149px;
	padding-top:33px;
	background-position:0 0;
}
button.g_btn_tilfoejabonnement span{ display:none; }

button.g_btn_tilfoejabonnement:hover{		background-position:0 -35px	}
button.g_btn_tilfoejabonnement.g_disabled{	background-position:0 -71px }

button.g_btn_send{
	background-image:url("/gfx/grd/common/button/sprite_send.png");
	height:33px;
	width:69px;
	padding-top:33px;
	background-position:0 0;
}
button.g_btn_send span{ display:none; }

button.g_btn_send:hover{		background-position:0 -35px	}
button.g_btn_send.g_disabled{	background-position:0 -71px }

button.g_btn_bestil{
	background-image:url("/gfx/grd/common/button/sprite_bestil.png");
	height:33px;
	width:81px;
	padding-top:33px;
	background-position:0 0;
}
button.g_btn_bestil span{ display:none; }

button.g_btn_bestil:hover{		background-position:0 -35px	}
button.g_btn_bestil.g_disabled{	background-position:0 -71px }

button.g_btn_opdater{
	background-image:url("/gfx/grd/common/button/sprite_opdater.png");
	height:33px;
	width:90px;
	padding-top:33px;
	background-position:0 0;
}
button.g_btn_opdater span{ display:none; }

button.g_btn_opdater:hover{		background-position:0 -35px	}
button.g_btn_opdater.g_disabled{	background-position:0 -71px }

a.g_btn_opdater{
	background-image:url("/gfx/grd/common/button/sprite_opdater.png");
	height:0;
	width:90px;
	padding-top:34px;
	display:inline-block;
	background-position:0 0;
}
a.g_btn_opdater:hover{		background-position:0 -35px;}
a.g_btn_opdater.g_disabled{background-position:0 -71px;}

button.g_btn_afmeld{
	background-image:url("/gfx/grd/common/button/sprite_afmeld.png");
	height:33px;
	width:83px;
	padding-top:33px;
	background-position:0 0;
}
button.g_btn_afmeld span{ display:none; }

button.g_btn_afmeld:hover{		background-position:0 -35px	}
button.g_btn_afmeld.g_disabled{	background-position:0 -71px }

a.g_btn_afmeld{
	background-image:url("/gfx/grd/common/button/sprite_afmeld.png");
	height:0;
	width:83px;
	padding-top:34px;
	display:inline-block;
	background-position:0 0;
}
a.g_btn_afmeld:hover{		background-position:0 -35px;}
a.g_btn_afmeld.g_disabled{background-position:0 -71px;}