/** TDC Login **/
div.g_block_tdclogin{}

div.g_block_tdclogin div.g_block_txt{
	width:300px; /*324px minus 2*24px margin*/
	float:left;
	margin:24px 0 24px 24px;
}

div.g_block_tdclogin .g_modal_content div.g_block_txt{
	float:none;
	width:100%;
}

div.g_block_tdclogin .g_block_top{
	clear:both;
}

/* Speciel exception ie7.css to adjust the legend correctly */
div.g_block_tdclogin div.g_block_txt legend{
	background:transparent url("/gfx/grd/tdclogin/sprite_logo.gif") no-repeat -3px -5px;
	height:23px;
	width:84px;
}

div.g_block_tdclogin div.g_block_txt legend span{
	display:none;	
}

div.g_block_tdclogin div.g_block_txt p,
div.g_block_tdclogin div.g_block_txt ul{
	margin-bottom:10px;
}

/* Its possible to target the first part of the loginbox, to set fontsize, but larger font gives room issues */
div.g_block_tdclogin div.g_block_txt:first-child{
	font-size:12px;	
}

/* Overwrite of the first-child styling above */
#g_block_modals div.g_block_tdclogin div.g_block_txt:first-child {
	font-size:11px;
}

div.g_block_tdclogin div.g_block_txt:first-child a{
	font-size:11px;
}

div.g_block_tdclogin div.g_block_img{
	width:324px;
	float:left;
	text-align:center;
	padding:22px 0;
}

div.g_block_tdclogin input[type="text"],
div.g_block_tdclogin input[type="password"]{
	height: 19px;
	border:2px solid #e0e2e3;
	font-size:16px;
	line-height:19px;
	padding:2px 4px;
	width:290px;
}

/** MODAL ADJUSTMENTS **/
#g_block_modals .g_block_tdclogin input[type="text"] {
	width:430px;
}

#g_block_modals .g_block_tdclogin input[type="password"] {
	width:335px;
}
#g_block_modals button.g_btn_tdclogin_in{
	top:81px;
}

#g_block_modals .g_tdclogin_remember label{
	top:0px;
	font-size:11px;
	color:#192228;
}

#g_block_modals  .g_tdclogin_remember {
	width:100%;
	bottom:-3px;
}

#g_site_loginout{
	display:none;
}

div.g_block_tdclogin input[type="password"]{
	width:205px;
	margin-right:85px; /* To make sure the element is as wide as the username field, and to keep the label from wrapping */
}

div.g_block_tdclogin button.g_btn_tdclogin_in{
	position:absolute;
	left:auto;
	right:-5px; /* because of the 5px shaded border on the button graphics */
	top:77px;
}

div.g_block_tdclogin label{
	display:block;
	font-size:11px; /* Because tdclogin in modal overlay inherits a bigger fontsize */
}

div.g_block_tdclogin div.g_tdclogin{
	width:301px;
	height:132px;
	float:left;
	position:relative;
	margin:24px 24px 24px 0;
}

/* When loginbox is in a c4 or c5 block */
div.g_block_c4 div.g_block_tdclogin,
div.g_block_c5 div.g_block_tdclogin{
	padding-bottom:18px;
}

div.g_block_c4 div.g_block_txt.g_tdclogin{
	width:282px;
	margin:18px 18px 0 18px;
}

div.g_block_c5 div.g_block_txt.g_tdclogin{
	width:364px;
	margin:18px 18px 0 18px;
}

div.g_block_c4 div.g_block_tdclogin input[type="text"],
div.g_block_c4 div.g_block_tdclogin input[type="password"]{
	width:272px;
}

div.g_block_c4 div.g_block_tdclogin input[type="password"]{
	width:188px;
}

div.g_block_c5 div.g_block_tdclogin input[type="text"],
div.g_block_c5 div.g_block_tdclogin input[type="password"]{
	width:354px;
}

div.g_block_c5 div.g_block_tdclogin input[type="password"]{
	width:270px;
}

div.g_block_c4 div.g_block_tdclogin div.g_error{
	width:266px; /*because g_error has padding 8px */
}

div.g_block_c5 div.g_block_tdclogin div.g_error{
	width:348px; /*because g_error has padding 8px */
}


div.g_block_tdclogin div.g_tdclogin_loggedout{
	position:absolute;
	left:0;
	top:47px;
	width:100%;
}

div.g_block_tdclogin div.g_tdclogin_loggedout strong{
	display:block;
}

div.g_block_tdclogin div.g_tdclogin_loggedout button{
	position:absolute;
	left:auto;
	right:0;
	top:2px;
}

.g_tdclogin_username,
.g_tdclogin_password{
	width:100%;
	position:absolute;
	top:20px;
	left:0;
}
.g_tdclogin_username label,
.g_tdclogin_password label{
	margin-bottom:1px !important;	
}

.g_tdclogin_password{
	top:67px;
}

.g_tdclogin_remember{
	position:absolute;
	bottom:0;
	left:0;
}
div.g_block_tdclogin div.g_tdclogin_remember label{
	display:inline;
	position:relative;
	top:-2px;
}

div.g_tdclogin a.g_tdclogin_create{
	position:absolute;
	top:0;
	right:0;	
}

div.g_tdclogin a.g_tdclogin_problem{
	position:absolute;
	bottom:0;
	right:0;
}

div.g_tdclogin a.g_tdclogin_selfservice{
	position:absolute;
	bottom:0;
	left:0;	
}

div.g_tdclogin img{
	position:absolute;
	top:-5px;
	left:-5px;
}
/** TDC login end */

.g_tdclogin_erhverv_form {
	display:block;
	clear:both;
}
.g_tdclogin_erhverv ul {
	float:left;
}


.g_tdclogin_erhverv_form fieldset {
	clear:both;
}

.g_tdclogin_erhverv_form .g_tdclogin_username, 
.g_tdclogin_erhverv_form .g_tdclogin_password {
float:left;
position:static;
margin-bottom:10px;
}
.g_tdclogin_erhverv ul.g_ul_link_collection,
.g_tdclogin_erhverv_form .g_form_icon {
	float:right;
}
.g_tdclogin_erhverv .g_form_icon {
bottom:38px;
position:absolute;
right:50px;
}
.g_tdclogin_erhverv_form {
bottom:5px;
margin-top:10px;
position:absolute;
}

.g_tdclogin_erhverv_form button{
position:relative !important;
right:-15px !important;
top:-3px !important;
}

.g_tdclogin_erhverv_form input{
margin-right:0px !important;
float:left;
}
.g_tdclogin_erhverv_form input[type="text"]{
width:300px !important;
margin-right:0px !important;
float:left;
}


