
/* fontsize and color */

html{
	font-family:Verdana,arial,sans-serif;
	font-size:11px;	
}

body{
	color:#192228;
	font-size:11px; /* base fontsize */
}

a[href]{
	color:#006cb8;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}

strong{
	font-weight:bold;
}

h1.g_headline{
	color:#90979b;
	font-size:24px; 
	font-weight:bold;
	margin:0 0 0 24px;
	float:left;
}

h1 {
	color:#192228;
	font-weight:bold;
	font-size:19px;
	margin:22px 0 8px;
}

h2, h3, h4, h5{
	margin-bottom: 9px;
}

h2{
	color:#90979b;
	font-size:24px; 
	font-weight:bold;
	margin-left:24px;
}

sub{position:relative;bottom:-5px;font-size:9px}
sup{position:relative;top:-5px;font-size:9px}

em{font-style:italic;}

.g_block_txt h1{
	font-weight:bold;
}

.g_block_txt h1,
.g_block_txt h2{
	font-size:19px;
	color:#192228;
	margin:22px 0 8px 0;
}

/* when snippet content is shown in a modal without g_block_txt */
.g_modal_content h2{
	font-size:19px;
	color:#192228;
	margin:0 0 8px 0;
}

/* Header in block generator blocks */
.g_block_txt h3{
	margin-bottom:4px;
	font-size:15px;
}

div.g_block_txt h2 a,
div.g_block_txt h3 a{
	color:#192228;
	text-decoration:none;
}
div.g_block_txt h2 a:hover,
div.g_block_txt h3 a:hover{
	text-decoration:underline;
}

h3{
	font-size:13px;
	font-weight:bold;
}
h4{
	font-weight:bold;
}

p{
	line-height:18px;
	margin-bottom: 18px;
}
blockquote{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;

	margin:0 0 18px 6px;
	line-height:18px;
	color:#192228;
}
cite {
	clear:both;
}
.g_credit {
	text-align:right;
	margin:0 0 20px 6px;
}

.g_txt_highlight{
	display:block;
	background-color:#e8f5f9;
	padding:9px;
}

pre{
	overflow:auto;
	margin-bottom:6px;
}

div.g_block_txt ul, div.g_block_txt ol{
	margin-bottom:18px;
}

div.g_block_txt ul li,
div.g_block_txt ol li{
	line-height:18px;
}

div.g_block_txt ol li{
	list-style:decimal inside none;
	padding-left: 2em;
	text-indent: -2em;
}

div.g_block_txt ul li{
	list-style:none outside none;
	list-style-image:url("/gfx/grd/lists/g_ul_blue.png");
	margin-left:15px;
	overflow: visible; 	/* overwrite if list used inside a carousel or flow_row element */
	float: none;		/* overwrite if list used inside a carousel or flow_row element */
}

#g_submenu_overlay ul li{
	list-style:none inside none;
	list-style-image:none;
	width:130px;
	margin-left:0;
}

.g_txt_right{
	text-align:right;
}

.g_txt_center{
	text-align:center;
}

.g_txt_small{
	font-size:80%;
	color:#90979b;
	line-height:13px !important;
}

p.g_txt_small{
	margin-bottom:14px;
}

/* Legal texts */
.g_txt_legal{
	color:#192228 !important;
}

/* Miniums price */
.g_txt_price_min,
.g_txt_price_min a,
.g_price_min,
.g_price_min a{
	color:#192228 !important;
	font-size:9px;
	line-height:13px;
}

div.g_block_content .g_txt_gray,
div.g_block_content .g_txt_gray a{
	color:#90979b;
}

.g_txt_price{
	color:#29a3c8;
}
.g_txt_price span{
	color:#9b9b9b;
}

/* Add margin on images floated left inside a paragraph */
p img.g_left{
	margin-right:10px;
}

/* Default size in blocks*/
div.g_block_txt .g_txt_price{
	font-size:15px;
	font-weight:bold;	
}

/* used for image captions */
.g_txt_caption{
	font-size:11px;
	line-height:15px;
	color:#90979b;
	margin-top:7px;
}

.g_txt_caption_fullimage{
	font-size:11px;
	line-height:15px;
	color:#90979b;
	margin:7px 22px 1px 22px;
}

.g_txt_caption a,
.g_txt_caption_fullimage a{
	text-decoration:none !important;
}

.g_txt_caption a:hover,
.g_txt_caption_fullimage a:hover{
	text-decoration:underline !important;
}

.g_center{
	text-align:center;
}

/** Footer **/
div#g_foot h3{
	margin-bottom:10px;
	font-size:13px;
}

div#g_foot{
	color:#8c9296;
}

/* Force small text in the footer to be shown as black */
div#g_foot .g_txt_small{
	color:#192228;
}

div#g_foot div.g_block_content.g_block_footer a{
	color:#8c9296;	/* Color to be used when text is on gray background */
	text-decoration:none;
}

div#g_foot div.g_block_content.g_block_footer a:hover{
	text-decoration:underline;
}
/* Headline on shop detail type tab blocks*/
div.g_block div.g_tabs_head h3{
	font-size:36px;
	font-weight:normal;
}

/* Article styling */
div.g_block_txt.g_article,
div.g_block_txt.g_article_wide{
	padding-bottom:30px;
	margin-top:8px;
	overflow:hidden;
}

div.g_article a[href],
div.g_article_wide a[href]{
	text-decoration:underline;
}

div.g_article a:hover,
div.g_article_wide a:hover{
	text-decoration:none;
}

div.g_block_txt.g_article h1,
div.g_block_txt.g_article_wide h1{
	font-size:24px;
}

#g_main_content  cite.g_article_content_title{
	margin:0 0 18px 0;
	color:#90979b;
	font-weight:normal;
	font-size:11px;
	text-transform:uppercase;
	display:block;
}
#g_main_content cite.g_article_content_title a{
	color:#3b8cb8;
	font-weight:bold;
	text-decoration:none;
}

div.g_col.g_col_article_text{
	width:540px;
	margin:0 18px 0 0;
	font-size:12px;
}

/* When articles are used in the Grid Tabs Element */
div.g_tabs div.g_col.g_col_article_text{
	width:100%;
	font-size:11px;	
}

div.g_col.g_col_article_info{
	width:236px;
	float:right;
}

/* Information on Related and Links tabs on Publish articles */
div.g_block_txt.g_article_relatedlinks{
	width:578px;
	float:none;
	padding:10px 10px 0 10px;
	background-color:#f4f4f4;
	margin-bottom:18px;
	margin-top:0;
	overflow:hidden;
}

div.g_block_txt.g_article_relatedlinks h4{
	margin-bottom:0;
}

/* Used in ifaq.php (article viewer on help) */
div.g_block_txt.g_block_highlight{
	width:578px;
	padding:10px 10px 0 10px;
	margin-bottom:18px;
	margin-top:0;
	overflow:hidden;
}

/* When article marked as wide, make text wider, and hide info */
div.g_block_txt.g_article_wide .g_col_article_text{
	width:540px; /* Same as 7col minus margin*/
}

/* should be removed when wide is removed?? */
div.g_block_txt.g_article_wide .g_col_article_info{
	display:none;
}

#g_main_content span.g_article_h_tagline{
	color:#90979b;
}
#g_main_content div.g_article_h_bns{
	margin:-5px -10px 0 0;
	float:right;	
}
#g_main_content div.g_article_h_image{
	margin:18px 0 30px 0;
}
#g_main_content div.g_article_subh{
	margin:0;
	font-size:13px;
	line-height:18px;
}

#g_main_content .g_block_txt.g_block_article h2{
	color:#192228;
	font-size:15px;
	font-weight:bold;
	line-height:18px;
}
#g_main_content  .g_block_txt.g_block_article h3{
	color:#192228;
	font-size:13px;
	font-weight:bold;
	line-height:18px;
}

p a,span a,cite a,ul a, ol a{
	font-weight:normal;
	margin:0;
	padding:0;
}
#g_main_content  .g_block_txt.g_block_article blockquote small{
	margin:0px 5px 18px 0px;
	text-align:right;
	display:block;
}	
p a:hover,span a:hover,cite a:hover,ul a:hover, ol a:hover{
	text-decoration:underline;
}
.g_block_article table h1,
.g_block_article table h2,
.g_block_article table h3,
.g_block_article table h4 {
	margin:0;
	padding:0;
	color:#192228;
}

a.g_disabled,a.g_disabled:hover,a.g_disabled:active{
	color:#3b8cb8;
	text-decoration:none;
	cursor:hand;
}

/* Special styling of header in carousels */
.g_carousel_img_panorama_8col h2{
	margin-top:0;
}